<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

        <aop:config>
            <aop:aspect id="log" ref="logging">
                <aop:pointcut id="selectAll" expression="execution(* com.aop.*.*(..))"/>
                <aop:before pointcut-ref="selectAll" method="beforeAdvice"/>
                <aop:after pointcut-ref="selectAll" method="afterAdvice"/>
                <aop:after-returning pointcut-ref="selectAll" returning="retval" method="afterReturningAdvice"/>
                <aop:after-throwing pointcut-ref="selectAll" throwing="e" method="afterThrowingAdvice"/>

            </aop:aspect>

        </aop:config>

         <bean id="student"
                class="spring.aop.Student">
            <property name="name"
                      value="chen"/>
            <property name="age"
                      value="21"/>
         </bean>
         <bean id="logging" class="spring.aop.Logging"/>

</beans>