<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="springMVC_id" version="2.4">
  <display-name>Archetype Created Web Application</display-name>
    <!--myServlet的映射-->
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>springMVC.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/myServlet</url-pattern>
    </servlet-mapping>
    <!--DispatcherServlet注册-->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--关联springmvc的配置文件 [servlet-name]-servler.xml-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:dispatcherServlet-servlet.xml</param-value>
        </init-param>
    </servlet>
    <!--DispatcherServlet的映射,匹配所有请求-->
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>




    <welcome-file-list>
        <welcome-file>/index-jsp</welcome-file>
    </welcome-file-list>
</web-app>
